<Body>
    <nav>
        <div class="container">
            <div class="card">
                <h2>Claims Management</h2>
                <p>Efficiently manage and process insurance claims.</p>
                <a routerLink='AdminClaim' class="btn">Go to Claim Management</a>
            </div>
            <div class="card">
                <h2>Vehicle Management</h2>
                <p>Streamline user accounts and permissions.</p>
                <a  routerLink='AdminCustomer' class="btn">Go to User Management</a>
            </div>
            <div class="card">
                <h2>Insurance Management</h2>
                <p>Streamline Insurances and their status.</p>
                <a routerLink='AdminInsurance' class="btn">Go to Insurance Management</a>
            </div>
            <div class="card">
                <h2>Inspection Management</h2>
                <p>Schedule and oversee inspection tasks effectively.</p>
                <button routerLink='AdminInspection' class="btn">Go to Inspection Management</button>
            </div>
            <div class="card">
                <h2>Documents Management</h2>
                <p>Schedule and oversee inspection tasks effectively.</p>
                <button routerLink='AdminInspection' class="btn">Go to Inspection Management</button>
            </div>
            <div class="card">
                <h2>Premium Calculator</h2>
                <p>Schedule and oversee inspection tasks effectively.</p>
                <button routerLink='AdminInspection' class="btn">Go to Inspection Management</button>
            </div>
         </div>
    </nav>     
</Body>
