<body>
  <header>
      <nav>
          <div class="container">
              <h1>VehicleGuard Insurance - Your Road to Peace of Mind</h1>
              <ul>
                  <li><a href="#about">About</a></li>
                  <li><a href="#features">Features</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li><a routerLink="Login">Login</a></li>
                  <li><a routerLink="Register">Register</a></li>
              </ul>
          </div>
      </nav>
  </header>
</body>
<router-outlet></router-outlet>